body{
    background: url('90669.jpg');
    background-size: cover;
}
.box{
    position:center;
    width:350px;
    font-family: 'Segoe UI';
    padding-right: 100px;
    color:white;
    background:rgba(0,0,0,0.20);
    margin: auto;
	padding: 30px 20px;
  }
  .box h1{
    text-align:center;
    margin:10px 0;
    font-size:30px;
  }
  .box input{
    
    width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.1);
    color:rgb(255, 255, 255);
    border:0;
  }
  .box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
  }
  .box button{
    background:rgba(0,0,0,0.20);
    border:0;
    color: rgb(255, 255, 255);
    padding:10px;
    font-size:20px;
    width:50%px;
    margin:80px auto;
    cursor:pointer;
  }
